.footer__copyright {
    color: #B9B9B9;
    font-family: Outfit;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
}

.footer__copyright::before {
    content: '\00A9' '\00A0';
}