.conclusion__motivation-text {
    color: #000;
    text-align: center;
    font-family: Outfit;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 106%;
    margin: 0;
}