.conclusion__about-title {
    color: #000;
    font-family: Outfit;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 106%;
    margin: 0;
    margin-bottom: 20px;
    max-width: 822px;
}