.about {
    background-image: url(../../images/about_image.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    margin-left: 60px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(2, 550px auto);
    grid-template-rows: repeat(3, auto);
}