.motivation__subtitle {
    color: #FFF;
    text-align: center;
    font-family: Outfit;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    max-width: 664px;
    margin: 0;
}